include LICENSE
include README.md
include requirements.txt
recursive-include drhip *.py
recursive-include drhip *.json
recursive-include drhip *.csv
recursive-include tests *
global-exclude *.py[cod] __pycache__ *.so *.dylib
